:root {
  --accent-color: rgb(70, 169, 38);
}

.show{display:block!important}
.hide{display:none!important}

h1 {font-size: 30px;}
p {font-size: 20px;}

header {
  margin-top: 48px; background-color: var(--accent-color);
  padding: 64px 0; text-align: center;
  color: white;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

section {
  margin: 16px;
  max-width: 700px;
  vertical-align: top;
}

footer {
  color: white;
  background-color: var(--accent-color);
  padding: 15px;
  text-align: center;
}
footer div {
  padding: 0 8px;
}
footer p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
    
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
a.button:hover {
  background-color: grey;
}

.top-bar{position:fixed;width:100%;z-index:1;top:0;left:0;height: 48px;}
.top-bar{width:100%;overflow:hidden;font-size:18px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); background-color: var(--accent-color);}

.bar-item{padding:12px 16px;float:left;width:auto;border:none;display:block;outline:0;text-align:center;color: white;}
.bar-item:hover{color: black; background-color: white;}

.container > * {
  display: inline-block;
}

.div-download {
  padding: 10px 40px;
}
.div-download:hover {
  background-color: grey;
}
.div-download img {
  display: block;
  margin: 0 auto;
  height: 100px;
}

.img-screenshot {
  max-width: 80%;
  max-height: 300px;
  box-shadow: 0 0 30px grey;
  margin: 30px;
}

.feature-block {
  text-align: center;
  margin-bottom: 10px;
}
